header {
	background-color: aqua;
}

nav {
	background-color: blueviolet;
}

article {
	background-color: brown;
}

aside {
	background-color: darkolivegreen;
}

footer {
	background-color: darkorange;
}